@tailwind base;
@tailwind components;
@tailwind utilities;


.gridCsi{
    width: 100%;
    display: flex;
    grid-template-columns: auto 1fr;
    gap: 3rem;
    place-content: center;

}


@keyframes range{
    from{
        width: 0;
        height: 0;
    }
    

}


.modal-card{
    animation-name: range;
    animation-duration: 500ms ;

}
